{% extends "DhiAdminBundle::layout.html.twig" %}

{% block body %}
<section class="content-header">
	<h1>Edit Api Failure Email</h1>
</section>	
<section class="content">
	<div class="row">
    	<div class="col-md-12">
        	<div class="box box-success">
            	<form action="{{ path('dhi_admin_api_failure_email_edit', { 'id': apiFailureEmail.id }) }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" id="api-failure-email-form">
 					<div class="box-body">
                    	<div class="form-group  col-md-4">
                    		<label class="control-label">Email: </label>                   
                        	{{ form_widget(form.email, { 'attr': { 'placeholder': 'Email', 'class': 'form-control'}}) }}
                        	<div class="serverError">{{ form_errors(form.email) }}</div>
                 		</div>
                    
                    	<div class="form-group col-md-4">
                        	<label class="control-label">Status: </label>                    
                        	{{ form_widget(form.status, { 'attr': { 'placeholder': 'Status', 'class': 'form-control'}}) }}
                        	<div class="serverError">{{ form_errors(form.status) }}</div>
                  		</div>
                	</div>
					{{ form_rest(form) }}
			
					<div class="box-footer">
		            	<div class="col-md-8 add-btn-bx">
		                	<input type="submit" name="update" value="Update" class="btn btn-success"/>
		                    <a href="{{ path('dhi_admin_api_failure_email_list') }}" class="btn btn-default">Back</a>
						</div>
					</div>                    
            	</form>
         	</div>
        </div>
    </div>
</section>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#api-failure-email-form').validate({
	            rules: {
	                "dhi_api_failure_email_add[email]": {
	                    "required": true
	                },
	                "dhi_api_failure_email_add[status]": {
	                    "required": true
	                }
	            },
	            messages: {
	                "dhi_api_failure_email_add[email]": {
	                    "required": "Please enter email."
	                },
	                "dhi_api_failure_email_add[status]": {
	                    "required": "Please select status."
	                }
	            }
	        });
	    });
	</script>
{% endblock javascripts %}
