{% extends "DhiAdminBundle::layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/dhiadmin/FCBKcomplete/style.css') }}" type="text/css" media="screen" charset="utf-8" />		
{% endblock %}
{% block body %}

	<!-- Content Header (Page header) -->
	<section class="content-header">
		 <h1>Edit Paypal Credential</h1>
	</section>
	<section class="content">
		<div class="box box-success">
			<div class="row">
				<div class="col-sm-12">
					<form action="{{ path('dhi_admin_credential_edit', { 'id': credential.id }) }}" method="POST" {{ form_enctype(form) }} id="credentials_form" class="form-horizontal" novalidate>		            
			            <div class="box-body form-group-section">
			            	
			            	<div class="form-group col-md-4">
		                    	<label class="control-label">Country: </label>
		                        {{ form_widget(form.country, { 'attr': { 'placeholder': 'Service Location', 'class': 'form-control'}}) }}
                    			<div class="serverError">{{ form_errors(form.country) }}</div>	
                    			<label id="dhi_admin_credential_country-error" class="error" for="dhi_admin_credential_country"></label>
		                    </div>

			            	<div class="form-group col-md-4">
		                    	<label class="control-label">Service Location: </label>
		                        {{ form_widget(form.serviceLocations, { 'attr': { 'placeholder': 'Service Location', 'class': 'form-control'}}) }}
                    			<div class="serverError">{{ form_errors(form.serviceLocations) }}</div>	
                    			<label id="dhi_admin_credential_serviceLocations-error" class="error" for="dhi_admin_credential_serviceLocations"></label>
		                    </div>

		                    <div class="form-group col-md-4">
		                    	<label class="control-label">Credential: </label>
		                        {{ form_widget(form.PaypalId, { 'attr': { 'class': 'form-control'}}) }}
		                        <div class="serverError">{{ form_errors(form.PaypalId) }}</div>	
		                        <label id="dhi_admin_credential_PaypalId-error" class="error" for="dhi_admin_credential_PaypalId"></label>
		                    </div>

			            </div>
			            <div class="box-footer">		
		                    <div class="col-sm-12">
			                    <input type="submit" name="edit" value="Update" class="btn btn-success"/>
	                        	<a href="{{ path('dhi_admin_credential_list') }}" class="btn btn-default">Back</a>
		                    </div>
		                </div>
					    {{ form_rest(form) }}
		            </form>
            	</div>
            </div>
		</div>
	</section>	
   {{ tinymce_init() }}
   
<div class="modal fade" id="emailPreviewModal" tabindex="-1" role="dialog" aria-labelledby="emailPreviewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
   
<div id="ajax-loader-bx" style="display:none;">
	<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
	<div id="loader-text">Please wait....</div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/dhiadmin/FCBKcomplete/jquery.fcbkcomplete.js') }}" type="text/javascript" charset="utf-8"></script>
				
	<script type="text/javascript">
        $(document).ready(function() {
            
			$('#dhi_admin_credential_country').change(function() {
				var countryId = $(this).val(),
				    id = {{ credential.id }},
				    serviceLocationId = {{ credential.serviceLocations.id }};
				$.ajax({
					type: "POST",
					url: "{{ path('dhi_admin_credential_location') }}",
					data: {countryId:countryId, id:id},
					beforeSend: function( xhr ) {
						$('#ajax-loader-bx').show();
					},
					success:function(result){
						var s = document.getElementById('dhi_admin_credential_serviceLocations');
						$('#dhi_admin_credential_serviceLocations').empty();
						s.options[0]= new Option('Select', '');
						$.each(result,function(key,value){
							var selected = (serviceLocationId == value.id) ? 'selected="selected"' : '';
							$("#dhi_admin_credential_serviceLocations").append('<option ' + selected + ' value="' + value.id + '">'  +   value.name + '</option>');
						});
						$('#ajax-loader-bx').hide();
					}
				});
			}).change();

        	$('#credentials_form').validate({
                rules: {
                	"dhi_admin_credential[country]": {
                        "required": true
                    },
                    "dhi_admin_credential[serviceLocations]": {
                        "required": true
                    }
                },
                messages: {
                	"dhi_admin_credential[country]": {
                        "required": "Please select country."
                    },
                    "dhi_admin_credential[serviceLocations]": {
                        "required": "Please select service location."
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}