{% extends "DhiAdminBundle::layout.html.twig" %}
{% block body %}
    {% include "DhiUserBundle::flashMessage.html.twig" %}
    <section class="content-header">
        <h1>Add New Business</h1>
    </section>
    <section class="content">
        <div class="box box-success">
            <form action="{{ path('dhi_admin_business_new') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" id="add_business_form" novalidate>
                <div class="box-body form-group-section">	
                    <div class="form-group col-sm-12 col-md-4 col-lg-4">
                        <label class="control-label">Business Name: </label>
                        <div>
                            {{ form_widget(form.name, {'attr':{'placeholder':'Business Name','class':'form-control'}})}}
                            <div class="serverError">{{ form_errors(form.name) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-4 col-lg-4"  style="height:auto;">
                        <label class="control-label">Description: </label>
                        <div>
                            {{ form_widget(form.description, { 'attr': { 'placeholder': 'Description', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.description) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-4 col-lg-4"  style="height:auto;">
                        <label class="control-label">Services: </label>
                        <div>
                            {{ form_widget(form.services, { 'attr': { 'placeholder': 'Services', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.services) }}</div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">POC Name: </label>
                        <div>
                            {{ form_widget(form.pocName, { 'attr': { 'placeholder': 'POC Name', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.pocName) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">POC Email: </label>
                        <div>
                            {{ form_widget(form.pocEmail, { 'attr': { 'placeholder': 'POC Email Address', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.pocEmail) }}</div>
                            <label id="ajaxEmailMsg"></label>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">POC Phone: </label>
                        <div>
                            {{ form_widget(form.pocPhone, { 'attr': { 'placeholder': 'POC Phone', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.pocPhone) }}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Status: </label>
                        <div>
                            {{ form_widget(form.status, { 'attr': { 'placeholder': 'Active', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.status) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-sm-8 col-lg-8">
                        <label class="control-label">Reason: </label>
                        <div>
                            {{ form_widget(form.reason, { 'attr': { 'placeholder': 'Reason', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.reason) }}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-footer">		
                    {{ form_rest(form) }}
                    <div class=" col-sm-6 add-btn-bx">
                        <input type="submit" name="add" value="Add" class="btn btn-success"/>
                        <a href="{{ path('dhi_admin_business_list') }}" class="btn btn-default">Back</a>
                    </div>
                </div>	
            </form>
        </div>
    </section>	
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/dhiuser/js/commonFunction.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add_business_form').validate({
                rules: {
                    "dhi_admin_business[pocEmail]": {
                        "email": true
                    },
                    "dhi_admin_business[name]": {
                        "required": true,
                        "remote": {
                            url: "{{ path("dhi_admin_business_check_name") }}",
                            type: "post"
                        }
                    },
                    "dhi_admin_business[status]": {
                        "required": true
                    },
                    "dhi_admin_business[location][]": {
                        "required": true
                    },
                    "dhi_admin_business[services][]": {
                        "required": true
                    },
                    "dhi_admin_business[reason]": {
                        "required": true
                    },
                    "dhi_admin_business[pocPhone]":{
                        "number": true  
                    }

                },
                messages: {
                    "dhi_admin_business[pocEmail]": {
                        "email": "Please enter valid email"
                    },
                    "dhi_admin_business[name]": {
                        "required": "Please Enter Business Name",
                        "remote": "Business name is already exists."
                    },
                    "dhi_admin_business[status]": {
                        "required": "Please Select Status"
                    },
                    "dhi_admin_business[location][]": {
                        "required": "Please Select Service Location"
                    },
                    "dhi_admin_business[services][]": {
                        "required": "Please Select Service"
                    },
                    "dhi_admin_business[reason]": {
                        "required": "Please Enter Reason"
                    },
                    "dhi_admin_business[pocPhone]": {
                        "number": "Please Enter Valid Phone"
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}