{% block title %}
    <title>&nbsp;</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/dhiuser/images/dhi-favicon.png') }}" />
{% endblock title %}    
{% block stylesheets %}
    <link href="{{ asset('bundles/dhiuser/css/pdf.css') }}" rel="stylesheet">
{% endblock stylesheets %}        
{% block body %}
        <img src="{{ img }}"/>
	<h1>Purchase History</h1>  
	{% if purchaseData|length > 0 %}
	<table class="purchase_table" style="width:100%;" cellspacing="0" cellpadding="5">
		<tr>
			<th>Order Number</th>
			<th>Transaction Id</th>
			<th>Purchase Service</th>
			<th>Payment Method</th>
			<th>Payment Status</th>
			<th>Total Amount</th>
			<th>Refund Amount</th>
			<th>Purchase Date</th>
		</tr>
		{% for purchaseOrder in purchaseData %}
			
			<tr class="evenrow">
				<td>{{ purchaseOrder.orderNumber }}</td>
				<td>{{ purchaseOrder.transactionId }}</td>
				<td>{{ purchaseOrder.purchaseService|raw }}</td>
				<td>{{ purchaseOrder.paymentMethod|raw }}</td>
				<td>{{ purchaseOrder.paymentStatus }}</td>
				<td>{{ purchaseOrder.totalAmount }}</td>
				<td>{{ purchaseOrder.refundAmount }}</td>
				<td>{{ purchaseOrder.purchaseDate }}</td>
			</tr>
			
			{% if purchaseOrder.serviceData|length > 0 %}
			
				{% for servicePurchase in purchaseOrder.serviceData %}
				<tr>
					<td colspan="8">
						<table class="sub_table" style="width:100%;" cellspacing="0" cellpadding="5">
							
							{% set ispArrLength = 0 %}
							{% if 'ISP' in servicePurchase|keys %}
								{% set ispArrLength = servicePurchase.ISP|length %}
								{% if ispArrLength > 0 %}
									<tr>
										<th rowspan="{{ ispArrLength + 1 }}">ISP</th>
										<th>Package</th>
										<th>Package Amount</th>
										<th>Service Location</th>
										<th>Purchase Amount</th>
										<th>Payment Status</th>										
										<th>Date</th>
									</tr>
									{% for ispService in servicePurchase.ISP %}			
									<tr>
										<td>{{ ispService.packageName }}</td>
										<td>${{ ispService.packageActualAmount }}</td>
										<td>${{ ispService.packagePaybleAmount }}</td>
										<td>{{ ispService.serviceLocation }}</td>										
										<td>{{ ispService.paymentStatus }}</td>										
										<td>{{ ispService.activationDate }}</td>										
									</tr>				
									{% endfor %}
								{% endif %}																		
					 		{% endif %}

					 		{% set tvodArrLength = 0 %}
							{% if 'TVOD' in servicePurchase|keys %}
								{% set tvodArrLength = servicePurchase.TVOD|length %}
								{% if tvodArrLength > 0 %}
									<tr>
										<th rowspan="{{ tvodArrLength + 1 }}">TVOD</th>
										<th>Package</th>
										<th>Package Amount</th>
										<th>Purchase Amount</th>
										<th>Service Location</th>
										<th>Payment Status</th>										
										<th>Date</th>
									</tr>
									{% for tvodService in servicePurchase.TVOD %}			
									<tr>
										<td>{{ tvodService.packageName }}</td>
										<td>${{ tvodService.packageActualAmount }}</td>
										<td>${{ tvodService.packagePaybleAmount }}</td>
										<td>{{ tvodService.serviceLocation }}</td>										
										<td>{{ tvodService.paymentStatus }}</td>										
										<td>{{ tvodService.activationDate }}</td>										
									</tr>				
									{% endfor %}
								{% endif %}																		
					 		{% endif %}
					 		
					 		
					 		{% set iptvArrLength = 0 %}
							{% if 'IPTV' in servicePurchase|keys %}
								{% set iptvArrLength = servicePurchase.IPTV|length %}
								{% if iptvArrLength > 0 %}
									<tr>
										<th rowspan="{{ iptvArrLength + 1 }}">ExchangeVUE Package</th>
										<th>Package</th>
										<th>Package Amount</th>
										<th>Purchase Amount</th>
										<th>Service Location</th>
										<th>Payment Status</th>										
										<th>Date</th>
									</tr>
									{% for iptvService in servicePurchase.IPTV %}			
									<tr>
										<td>{{ iptvService.packageName }}</td>
										<td>${{ iptvService.packageActualAmount }}</td>
										<td>${{ iptvService.packagePaybleAmount }}</td>
										<td>{{ iptvService.serviceLocation }}</td>
										<td>{{ iptvService.paymentStatus }}</td>
										<td>{{ iptvService.activationDate }}</td>										
									</tr>				
									{% endfor %}
								{% endif %}																		
					 		{% endif %}
					 		
					 		{% set addOnArrLength = 0 %}
							{% if 'AddOn' in servicePurchase|keys %}
								{% set addOnArrLength = servicePurchase.AddOn|length %}
								{% if addOnArrLength > 0 %}
									<tr>
										<th rowspan="{{ addOnArrLength+ 1 }}">Premium Package</th>
										<th>Package</th>
										<th>Package Amount</th>
										<th>Purchase Amount</th>
										<th>Service Location</th>
										<th>Payment Status</th>										
										<th>Date</th>
									</tr>
									{% for addOnService in servicePurchase.AddOn %}			
									<tr>
										<td>{{ addOnService.packageName }}</td>
										<td>${{ addOnService.packageActualAmount }}</td>
										<td>${{ addOnService.packagePaybleAmount }}</td>
										<td>{{ addOnService.serviceLocation }}</td>
										<td>{{ addOnService.paymentStatus }}</td>
										
										<td>{{ addOnService.activationDate }}</td>
										
									</tr>				
									{% endfor %}
								{% endif %}																		
					 		{% endif %}
					 		
					 		{% set creditArrLegnth = 0 %} 
							{% if 'Credit' in servicePurchase|keys %}
								
								{% set creditArrLegnth = servicePurchase.Credit|length %}
								
								{% if creditArrLegnth > 0 %}
						
										<tr>
											<th rowspan="{{ creditArrLegnth + 1 }}">Credit Purchase</th>
											<th colspan="3">Description</th>
											<th>Payment Status</th>
											<th>Price</th>		
										</tr>
									{% for creditPurchase in servicePurchase.Credit %}					
										<tr>
											<td colspan="3">{{ creditPurchase.packageName }}</td>
											<td>{{ creditPurchase.paymentStatus }}</td>
											<td>${{ creditPurchase.packagePaybleAmount }}</td>		
										</tr>
									{% endfor %}
								{% endif %}
							{% endif %}
							
							{% set compensationArrLegnth = 0 %} 
							{% if 'Compensation' in servicePurchase|keys %}
								
								{% set compensationArrLegnth = servicePurchase.Compensation|length %}
								
								{% if compensationArrLegnth > 0 %}
						
										<tr>
											<th rowspan="{{ compensationArrLegnth + 1 }}">Compensation</th>
											<th colspan="6">Service</th>
											<th>Time</th>		
										</tr>
									{% for compensationPurchase in servicePurchase.Compensation %}					
										<tr>
											<td colspan="6">{{ compensationPurchase.service }}</td>
											<td>{{ compensationPurchase.validity }}</td>		
										</tr>
									{% endfor %}
								{% endif %}
							{% endif %}
					 		
					 	</table>
					</td>
				</tr>
				{% endfor %}
			{% endif %}	
		{% endfor %}	
	</table>
	{% endif %}
	
	
{% endblock body %}
{% block javascripts %}
<script src="{{ asset('bundles/dhiuser/js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript">
   {#window.print();
   window.location.href = "{{ path('dhi_admin_purchase_history',app.request.query.all) }}";#}
{#   (function() {
    var beforePrint = function() {
        console.log('Functionality to run before printing.');
    };
    
    var afterPrint = function() {
        console.log('Functionality to run after printing.');
        window.close();
    };

    if (window.matchMedia) {
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function(mql) {
            if (mql.matches) {
                beforePrint();
            } else {
                afterPrint();
            }
        });
    }

    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
}());    
window.print();#}
       var document_focus = false; // var we use to monitor document focused status.
    // Now our event handlers.
            //$(document).focus(function() { document_focus = true; });
    $(document).ready(function() {window.print();document_focus = true; });
    setInterval(function() { if (document_focus === true) { window.close(); }  }, 100);
</script>
{% endblock javascripts %}