{% extends "DhiAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dhiadmin/css/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('bundles/dhiadmin/FCBKcomplete/style.css') }}" type="text/css" media="screen" charset="utf-8" />

    <style type="text/css">
        .ui-datepicker-trigger { float: right;  margin-right: -20px; margin-top: -24px; }
    </style>
{% endblock stylesheets %}

{% block body %}
<section class="content-header"><h1>Add Global Promo Code</h1></section>
<section class="content">
	<div class="box box-success">
		<form action="{{ path('dhi_admin_discount_code_new') }}" method="POST" {{ form_enctype(form) }} id="add_discount_code" class="form-horizontal" novalidate >
		<div class="box-body">
                    <div class="col-xs-12">
                            <div class="form-group col-sm-4">
                                    <label class="control-label">Service Location: </label>
                                    {{ form_widget(form.serviceLocations, { 'attr': { 'placeholder': 'Service Location', 'class': 'form-control'}}) }}
                                    <div class="serverError">{{ form_errors(form.serviceLocations) }}</div>
                                    <label id="dhi_admin_discount_code_serviceLocations-error" class="error" for="dhi_admin_discount_code_serviceLocations"></label>
                            </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Global Promo Code: </label>
                            <div>
                                {{ form_widget(form.discountCode, { 'attr': { 'placeholder': 'Global Promo Code' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                                    <div class="serverError">{{ form_errors(form.discountCode) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Select Amount Type: </label>
                            <div>
                                {{ form_widget(form.amountType, { 'attr': { 'placeholder': 'Amount type' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                                    <div class="serverError">{{ form_errors(form.amountType) }}</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4" >
                            <label class="control-label">Enter Value: </label>
                            <div>
                                {{ form_widget(form.amount, { 'attr': { 'placeholder': 'Enter Value' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                                    <div class="serverError">{{ form_errors(form.amount) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ form_label(form.discountImage) }}</label>
                            <div>
                                {{ form_widget(form.discountImage) }}

                                <div class="serverError" style="width:500px;">{{ form_errors(form.discountImage) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Start Date: </label>
                            <div>
                                {{ form_widget(form.startdate, { 'attr': { 'placeholder': 'Start Date' , 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.startdate) }}</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">End Date: </label>
                            <div>
                                {{ form_widget(form.enddate, { 'attr': { 'placeholder': 'End Date' , 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.enddate) }}</div>
                            </div>
                        </div>


                        <div class="form-group col-sm-4">
                            <label class="control-label">Status: </label>
                            <div>
                                {{ form_widget(form.status, { 'attr': { 'placeholder': 'Select Status', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.status) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-xs-4">
                            <label class="control-label">Note: </label>
                            {{ form_widget(form.note, { 'attr': { 'placeholder': 'Enter Note', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.note) }}</div>
                        </div>
                    </div>
		<input type="hidden" value="" id="selectedService" />
		<div class="box-footer">
		{{ form_rest(form) }}

			<div class="col-sm-12">
			    <div class="col-sm-6">
{#					<a class="btn btn-info" id="preview">Preview</a>#}
			        <input type="submit" class="btn btn-success" name="add" value="Add"/>
			        <a href="{{ path('dhi_admin_discount_code_list') }}" class="btn btn-default">Back</a>
			    </div>
			</div>
		</div>
                </div>
		</form>
	</div>
</section>

{{ tinymce_init() }}

<div class="modal fade" id="emailPreviewModal" tabindex="-1" role="dialog" aria-labelledby="emailPreviewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="ajax-loader-bx" style="display:none;">
	<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
	<div id="loader-text">Please wait....</div>
</div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/dhiadmin/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/dhiadmin/FCBKcomplete/jquery.fcbkcomplete.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        $("#dhi_admin_discount_code_discountCode").blur(function(){
          var code =  $("#dhi_admin_discount_code_discountCode").val();
          checkPromoCode('CHECKONBLUR');
       });
        $.validator.addMethod("loginRegex", function(value, element) {
        return !(/^\d+$/.test(value));
    }, "Discount code must contain letters");

        $.validator.addMethod("greaterStart", function (value, element, params) {
            return this.optional(element) || new Date(value) >= new Date($(params).val());
        },'Must be greater than start date.');

        	$("#add_discount_code").submit(function() {
    			// update underlying textarea before submit validation
    			tinyMCE.triggerSave();
    		}).validate({
                ignore: [],
                rules: {
                    "dhi_admin_discount_code[serviceLocations][]":  {
                        "required": true
                    },
                    "dhi_admin_discount_code[discountCode]": {
                        "required": true,
                        "loginRegex":true,
                    },
                     "dhi_admin_discount_code[startdate]":{
                        "required": true
                    },
                    "dhi_admin_discount_code[enddate]":{
                        "required": true,
{#                        "greaterStart": "#dhi_admin_discount_code_startdate"#}
                    },
                    "dhi_admin_discount_code[status]": {
                        "required": true
                    },
                    "dhi_admin_discount_code[amount]": {
                        "required": true
                    },
                    "dhi_admin_discount_code[amountType]": {
                        "required": true
                    },
                    "dhi_admin_discount_code[discountImage]": {
                        "required": false
                    },
                     "dhi_admin_discount_code[note]": {
                        "required": true,
                        "maxlength": 255
                    },


                },
                messages: {
                    "dhi_admin_discount_code[serviceLocations][]":  {
                         "required": "Please select service location(s)."
                    },
                    "dhi_admin_discount_code[discountCode]": {
                        "required": "Please enter global promo code."
                    },
                    "dhi_admin_discount_code[startdate]": {
                        "required": "Please enter start date."
                    },
                    "dhi_admin_discount_code[enddate]": {
                        "required": "Please enter end date."
                    },
                    "dhi_admin_discount_code[status]": {
                        "required": "Please select status."
                    },
                    "dhi_admin_discount_code[amount]": {
                        "required": "Please enter value."
                    },
                    "dhi_admin_discount_code[amountType]": {
                        "required": "Please select Amount Type."
                    },
                    "dhi_admin_discount_code[discountImage]": {
                        "required": "Please select files."
                    },
                     "dhi_admin_discount_code[note]": {
                        "required": "Please enter note.",
                        "maxlength": "Note can have maximum 255 characters"
                    },
                },
				submitHandler: function(form) {
                checkPromoCode('submitFrom',form);
                return false;
                }
            });

            $('#dhi_admin_discount_code_enddate').datepicker({
             {#   showOn: "both",
                buttonImage: '{{ asset("bundles/dhiadmin/images/calendar.gif") }}',
                buttonImageOnly: true,#}
                dateFormat: 'mm-dd-yy',
                readOnly: true,
                minDate: 0
            });

            $('#dhi_admin_discount_code_startdate').datepicker({
             {#   showOn: "both",
                buttonImage: '{{ asset("bundles/dhiadmin/images/calendar.gif") }}',
                buttonImageOnly: true,#}
                dateFormat: 'mm-dd-yy',
                readOnly: true,
                minDate: 0
            });

            $("#dhi_admin_discount_code_enddate").datepicker().datepicker("setDate", new Date());
            $("#dhi_admin_discount_code_startdate").datepicker().datepicker("setDate", new Date());

			//function previewCompensation() {
			$("#preview").click(function(){

			tinyMCE.triggerSave();

			var postData   = $('#add_promo_code').serializeArray();;
			var emailPreviewUrl = '{{ path('dhi_admin_discount_code_preview') }}';

			//var emailBody = tinymce.get('dhi_admin_compensation_emailContent').getContent();

	        $('#ajax-loader-box').show();
			$('.modal-content').load(emailPreviewUrl,postData, function (result) {

	           	$('#ajax-loader-box').hide();
		        $('#emailPreviewModal').modal({show: true});
			});
        });

		$(".promoType").change(function(){
			$('#selectedService').val($('#dhi_admin_discount_code_service').val());
			$('#ajax-loader-bx').show();

    		var promo_type = $('#dhi_admin_discount_code_type').val();

    		if($('#dhi_admin_discount_code_service').val()){

        		if(promo_type == 'ServiceLocation'){

        			loadLocationAutocomplete();
        		}else if(promo_type == 'Customer'){

        			loadCustomerAutocomplete();
        		}else{

        			$('#dhi_admin_discount_code_type').val('');
        			$('#comp_serLoc').hide();
    				$('#comp_cust').hide();
        		}
    		}else{

    			$('#dhi_admin_discount_code_type').val('');
    			$('#comp_serLoc').hide();
				$('#comp_cust').hide();

    			//collapseOpenTab('tabCompensationDetail');
    			$('#dhi_admin_discount_code_service-error').html('Please select service.');
    		}
    		$('#ajax-loader-bx').hide();
        });




		function loadCustomerAutocomplete(){

        	$('#comp_serLoc').hide();
			$('#comp_cust').show();

			$("#dhi_admin_discount_code_users").trigger("destroy");
			$("#dhi_admin_discount_code_serviceLocations").trigger("destroy");

			$("#dhi_admin_discount_code_users").fcbkcomplete({

                json_url: "{{ path('dhi_admin_compensation_search_user') }}?service="+$('#selectedService').val(),
                addontab: true,
                filter_selected: true,
                maxitems: 10,
                input_min_size: 0,
                height: 10,
                cache: true,
                newel: false,
                //select_all_text: "select",
            });
        }

		function loadLocationAutocomplete(){

        	$('#comp_serLoc').show();
    		$('#comp_cust').hide();

    		$("#dhi_admin_discount_code_serviceLocations").trigger("destroy");
			$("#dhi_admin_discount_code_users").trigger("destroy");

			$("#dhi_admin_discount_code_serviceLocations").fcbkcomplete({

				json_url: "{{ path('dhi_admin_compensation_search_service_location') }}?service="+$('#selectedService').val(),
				addontab: true,
                input_min_size: 0,
                height: 15,
                cache: true,
                newel: false,
                //select_all_text: "select",
                filter_selected: true,
                oncreate: function() {
                	//alert('fdsf');
                },
				onselect: function() {

                }
            });
        }


	function checkPromoCode(type,frm) {
            var flag = false;
            $.ajax({
                type: "POST",
                url: "{{ path('dhi_admin_discount_code_unique') }}",
                data: $('#add_discount_code').serializeArray(),
                beforeSend: function(xhr) {
                    $('#ajax-loader-bx').show();
                },
                success:function(result){
                        var obj = jQuery.parseJSON( result );
                        $('.custom-err').html('').hide();
                        if(obj['status'] == 'success') {
                                if(type == 'submitFrom') {
                                        frm.submit();
                                }
                        }
                        if(obj['status'] == 'error') {
                                $('#promoCode-error').html(obj['error']).show();
                        }

                        $('#ajax-loader-bx').hide();
                }
            })
        }


        });
    </script>
{% endblock javascripts %}