{% extends "DhiAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dhiadmin/css/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/dhiadmin/FCBKcomplete/style.css') }}" type="text/css" media="screen" charset="utf-8" />

    <style type="text/css">
        .ui-datepicker-trigger { float: right;  margin-right: -20px; margin-top: -24px; }
    </style>
{% endblock stylesheets %}

{% block body %}
    <section class="content-header"><h1>Edit Employee Promo Code</h1></section>
    <section class="content">
        <div class="box box-success">
            <form action="{{ path('dhi_admin_employee_promo_code_edit' , {'id': promo.id}) }}" method="POST" {{ form_enctype(form) }} id="add_employee_promo_code" class="form-horizontal" novalidate>
                <div class="box-body">
                    <div class="col-xs-8">
                        <div class="form-group col-xs-4">
                            <label class="control-label">Employee: </label>
                            {{ form_widget(form.employeeName, { 'attr': { 'placeholder': 'Employee', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.employeeName) }}</div>
                            <label id="dhi_admin_promo_code_serviceLocations-error" class="error"></label>
                        </div>

                        <div class="form-group col-sm-6" style="display:none;" >
                            <label class="control-label">Promo Code: </label>
                            <div>
                                {{ form_widget(form.employeepromocode, { 'attr': { 'placeholder': 'Employee Promo Code' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                <div class="serverError">{{ form_errors(form.employeepromocode) }}</div>
                            </div>
                        </div>
{#
                        <div class="form-group col-sm-4">
                            <label class="control-label">Reason: </label>
                            <div>
                                {{ form_widget(form.reason, { 'attr': { 'placeholder': 'Reason', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.reason) }}</div>
                            </div>
                        </div>#}
                        <div class="form-group col-sm-4">
                            <label class="control-label">Note: </label>
                            <div>
                                {{ form_widget(form.note, { 'attr': { 'placeholder': 'Note', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.note) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Select Amount Type: </label>
                            <div>
                                {{ form_widget(form.amountType, { 'attr': { 'placeholder': 'Amount type' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                <div class="serverError">{{ form_errors(form.amountType) }}</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4" >
                            <label class="control-label">Enter Value: </label>
                            <div>
                                {{ form_widget(form.amount, { 'attr': { 'placeholder': 'Enter Value' , 'class': 'form-control',}}) }}
                                <label id="promoCode-error" class="error custom-err"></label>
                                <div class="serverError">{{ form_errors(form.amount) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Status: </label>
                            <div>
                                {{ form_widget(form.status, { 'attr': { 'placeholder': 'Select Status', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.status) }}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    {{ form_rest(form) }}
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <a class="btn btn-info" id="preview">Preview</a>
                            <input type="submit" class="btn btn-success" name="edit" value="Update"/>
                            <a href="{{ path('dhi_admin_employee_promo_code_list') }}" class="btn btn-default">Back</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

    {{ tinymce_init() }}

    <div class="modal fade" id="emailPreviewModal" tabindex="-1" role="dialog" aria-labelledby="emailPreviewModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div id="ajax-loader-bx" style="display:none;">
        <img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
        <div id="loader-text">Please wait....</div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/dhiadmin/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/dhiadmin/FCBKcomplete/jquery.fcbkcomplete.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.addMethod("dollarsscents", function (value, element) {
                var RE = new RegExp(/^\d*\.\d\d$/);
                return RE.test(value)
            }, "Please enter valid number with two decimal");
            $("#add_employee_promo_code").validate({
                rules: {
                    "dhi_admin_employee_promo_code[employeeName]": {
                        "required": true
                    },
                   {# "dhi_admin_employee_promo_code[reason]": {
                        "required": true,
                        "maxlength": 255
                    },#}
                    "dhi_admin_employee_promo_code[note]": {
                        "required": true,
                        "maxlength": 255
                    },
                    "dhi_admin_employee_promo_code[amount]": {
                        "required": true,
                        "number": true,
                        "min": 1,
                        "dollarsscents": true
                    },
                    "dhi_admin_employee_promo_code[amountType]": {
                        "required": true
                    },
                    "dhi_admin_employee_promo_code[status]": {
                        "required": true
                    },
                    "dhi_admin_employee_promo_code[noOfCodes]": {
                        "required": true,
                        "digits": true,
                        "min": 0
                    }
                },
                messages: {
                    "dhi_admin_employee_promo_code[employeeName]": {
                        "required": "Please select employee name."
                    },
                    "dhi_admin_employee_promo_code[reason]": {
                        "required": "Please enter reason.",
                        "maxlength": "Reason can have maximum 255 characters"
                    },
                    "dhi_admin_employee_promo_code[note]": {
                        "required": "Please enter note.",
                        "maxlength": "Note can have maximum 255 characters"
                    },
                    "dhi_admin_employee_promo_code[amount]": {
                        "required": "Please enter value.",
                        "min": "Please enter value greater than or equal to 0.",
                        "number": "Please enter valid number with two decimal."
                    },
                    "dhi_admin_employee_promo_code[amountType]": {
                        "required": "Please select amount type."
                    },
                    "dhi_admin_employee_promo_code[status]": {
                        "required": "Please select status."
                    },
                    "dhi_admin_employee_promo_code[noOfCodes]": {
                        "required": "Please enter number of codes you want to generate.",
                        "digits": "Please enter valid number of code.",
                        "min": "Please enter a value greater than or equal to 1."
                    }
                }
            });

            $("#preview").click(function () {
                console.log("sd");
                if ($('#add_employee_promo_code').valid()) {

                    var postData = $('#add_employee_promo_code').serializeArray();
                    ;
                    var emailPreviewUrl = '{{ path('dhi_admin_employee_promo_code_preview') }}';
                    console.log(emailPreviewUrl);

                    $('#ajax-loader-box').show();
                    $('.modal-content').load(emailPreviewUrl, postData, function (result) {
                        $('#ajax-loader-box').hide();
                        $('#emailPreviewModal').modal({show: true});
                    });
                }
            });

        });
    </script>
{% endblock javascripts %}
