{% extends "DhiAdminBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/dhiadmin/css/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">

{% endblock stylesheets %}
{% block body %}

        {% include "DhiUserBundle::flashMessage.html.twig" %}
	<div class="delBoxCont"></div>

         <section class="content-header">
              <h1>Employee Promo Code Report</h1>
            </section>
            <section class="content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="box box-success">
                            <form method="get">
                                <div class="box-body">
                                    <div class="form-group col-md-3">
                                        <div class="row"><div class="col-sm-12" id="serviceLocation"></div></div>
                                    </div>
                                    <div class="form-group col-md-8 pickup-date-control">
                                        <div class="row"><div class="col-sm-12" id="date-range"></div></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="box box-success">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="addNewBtnsGrp">
                                </div>
                                <table id="promoCodeTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10">Service Location</th>
                                            <th width="90">Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock body %}
{% block javascripts %}

    {{ parent() }}
 <script src="{{ asset('bundles/dhiadmin/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
   <script type="text/javascript">

        $(document).ready(function () {

            dTable = $('#promoCodeTable').dataTable({

                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ Records",
                    "sZeroRecords": "<center>No Record Found!</center>",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ Records",
                    "sInfoEmpty": "Showing 0 to 0 of 0 records",
                    "sInfoFiltered": "(filtered from _MAX_ total records)"
                },
                responsive: true,
                bJQueryUI: false,
                bProcessing: true,
                bServerSide: true,
                bFilter: true,
                //multipleSelection: true,
                iDisplayLength: {{ record_per_page }},
                sAjaxSource: "{{ path('dhi_admin_employee_promo_code_report_list_json') }}",
                "fnServerParams": function ( aoData ) {
                    aoData.push( { "name": "createdBy", "value": $(".admins").val() } );
                },
                "fnServerData": function ( sUrl, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "url":  sUrl,
                        "data": aoData,
                        "success": function (json) {
                            if ( json.sError ) {
                                    oSettings.oApi._fnLog( oSettings, 0, json.sError );
                            }
                            $(oSettings.oInstance).trigger('xhr', [oSettings, json]);
                            fnCallback( json );
                        },
                        "dataType": "json",
                        "cache": false,
                        "type": oSettings.sServerMethod,
                        "error": function (xhr, error, thrown) {
                            if ( error == "parsererror" ) {
                                        window.location = "{{ path('dhi_admin_user_list') }}";
                                }
                        }
                    } );
                },
                sRangeFormat: "<label class='dateRange1'>From</label> {from} <label class='dateRange2'>To</label> {to}",
                aoColumns: [

                    {"sName": "Name","bSearchable": true,"bSortable": true},
                    {"sName": "Total","bSearchable": true,"bSortable": false},

                ],
            });

             $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
                                    $.datepicker.setDefaults($.datepicker.regional['']);
             $('#promoCodeTable').dataTable().columnFilter({
                 sRangeFormat: "<label class='dateRange1'>From</label> {from} <label class='dateRange2'>To</label> {to}",
            aoColumns: [
                {type: "select", sSelector: "#serviceLocation", values:{{serviceLocations|raw}}},
                {type: "date-range", sSelector: "#date-range"},
            ]
        });

        $("input").addClass("form-control");
        $("select").addClass("form-control");

        $("#date-range .date_range_filter:first").change(function(event) {
            $("#date-range .date_range_filter:last").datepicker("option", "minDate", $(this).val());
        }).keyup(function(e) {
            if(e.keyCode == 8 || e.keyCode == 46) {
                $.datepicker._clearDate(this);
            }
        });
        $("#date-range .date_range_filter:last").change(function(event) {
            $("#date-range .date_range_filter:first").datepicker("option", "maxDate", $(this).val());
        }).keyup(function(e) {
            if(e.keyCode == 8 || e.keyCode == 46) {
                $.datepicker._clearDate(this);
            }
        });
        $(".filter_date_range .date_range_filter.hasDatepicker").attr({ readonly: 'true' });
        $(".admins").change(function(event) {
            dTable.fnDraw(true);
        });
    });
    </script>

{% endblock javascripts %}
