{% extends "DhiAdminBundle::layout.html.twig" %}

{% block body %}
	<section class="content-header">
	   <h1>Add New Setting</h1>
	</section>		  
<section class="content">
    <div class="row">
        <div class="col-md-12">
           <div class="box box-success">
            <form action="{{ path('dhi_admin_setting_new') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" id="setting_form">
           <div class="box-body">
		    
				<div class="form-group col-md-4">
                    <label class="control-label">Setting Name: </label>
                    
                        {{ form_widget(form.name, { 'attr': { 'placeholder': 'Setting Name', 'class': 'form-control'}}) }}
                        <div class="serverError">{{ form_errors(form.name) }}</div>
                    
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Setting Value: </label>
                    
                        {{ form_widget(form.value, { 'attr': { 'placeholder': 'Setting Value', 'class': 'form-control'}}) }}
                        <div class="serverError">{{ form_errors(form.value) }}</div>
                    
                </div>
				
                </div>
				{{ form_rest(form) }}
                <div class="box-footer">
                      <div class="col-md-8 add-btn-bx">
						<input type="submit" name="add" value="Add" class="btn btn-success"/>
                        <a href="{{ path('dhi_admin_setting_list') }}" class="btn btn-default">Back</a>
					</div>	
                </div>
				
            </form>
            </div>
        </div>
    </div>
</section>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $('#setting_form').validate({
            rules: {
                "dhi_admin_setting[name]": {
                    "required": true
                },
                "dhi_admin_setting[value]": {
                    "required": true
                }
            },
            messages: {
                "dhi_admin_setting[name]": {
                    "required": "Please enter setting name."
                },
                "dhi_admin_setting[value]": {
                    "required": "Please enter setting value."
                }
            }
        });
    });
</script>
{% endblock javascripts %}