Hello {{ user.name }},
<br /><br />
Your username is: {{user.username}}
<br />
Please click on the link below to return to the login screen
<br />
<a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>
<br /><br />

Thank you,
<br /><br />
The {{companyname}} Team
