Hello,
<br /><br />
Your friend {{ userFnameLname }} has invited to register with {{companyname}}! Please <a href={{ url( url, {'email': email,'token': token }) }}>click here</a> to register with {{companyname}}!
<br /><br />
Regards,
<br /><br />
The {{ companyname }} Team