Dear {{ user.name }},
<br /><br />
The login you created can be used for {{companyname}} (or {{companyname}} Internet if offered at your location). {{companyname}} gives you instant access to hit TV shows, live sports, movies, music and AFN, whenever and wherever. {{companyname}} is the first official DoD product that turns any internet-enabled device into a personal TV.
<br /><br />
Please click this link to verify your email address: <a href="{{confirmationurl}}">{{ confirmationurl}}</a>
<br /><br />
Questions? Talk to us on <a href="{{supportpage}}">{{supportpage}}</a> or go to <a href="{{ httpProtocol ~ companydomain }}/support">{{ httpProtocol ~ companydomain}}/support</a> and tell us what you think. We'd love to hear from you.
<br /><br />
Happy VUEing!