<br />
<div style="background-color:#FFFFD9;border:1px solid #c9c9c9;width:90%;padding:10px;">
	Name 				: {{ data.firstname|e }} {{ data.lastname|e }}<br/>
	Email 				: {{ data.email|e }}<br/>
	Phone 				: {{ data.number|e }}<br/>
	Best Time to Contact: {{ data.time|e }}<br/>
	Location 			: {{ location|e }}<br/>
	Category 			: {{ category.name|e }}<br/>
	Service 			:  {{ service|e }}<br/>
	Comments 			: {{ data.message|e }}<br/>
</div>
<br /><br />