{% extends "DhiIsppartnerBundle::layout.html.twig" %}
{% block title %}Welcome ExchangeVUE ISP Partner Portal | Change Password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .flot-chart {
            display: block;
            height: 400px;
        }

        .flot-chart-content {
            width: 100%;
            height: 100%;
        }	
    </style>	

    {#<link href="{{ asset('bundles/dhiadmin/css/plugins-new/morris.css') }}" type="text/css" rel="stylesheet" />#}

{% endblock %}	
{% block body %}
         {% include "DhiUserBundle::flashMessage.html.twig" %}
     <div class="MessageBoxCont msgBoxCont"></div>
    
    <section class="content-header">
        <h1>Change Password</h1>
    </section>
    <section class="content">
        <div class="box box-success">
            <div class="box-body"> 
            {#<p class="login-box-msg">Sign in to start your session</p>#}
            <form action="{{ path('dhi_isppartner_resetpassword',{'id': id }) }}"  method="post" novalidate  id="isp-partner_change_password">
                
                <div class="col-xs-4 form-group margin no-padding">
                    <div class="form-group col-xs-12 has-feedback">

                       {{ form_widget(form.current_password, { 'attr': { 'placeholder': 'Enter Current Password','class': 'form-control required' }}) }}

                       <span class="text-danger">{% if form_errors(form.password.first) %}{{ form_errors(form.password.first) }}{% endif %}</span>
                   </div>
                    <div class="form-group col-xs-12 has-feedback">

                       {{ form_widget(form.password.first, { 'attr': { 'placeholder': 'Enter New Password','class': 'form-control required' }}) }}

                       <span class="text-danger">{% if form_errors(form.password.first) %}{{ form_errors(form.password.first) }}{% endif %}</span>
                   </div>


                   <div class="form-group col-xs-12 has-feedback">

                                     {{ form_widget(form.password.second, { 'attr': { 'placeholder': 'Confirm New Password','class': 'form-control required' }}) }}                                           
                       <span class="text-danger">{% if form_errors(form.password.second) %}{{ form_errors(form.password.second) }}{% endif %}</span>
                   </div>

                    
                       <div class="col-xs-12">
                           <button class="btn btn-success" type="submit">Update</button>

{#                            <button class="btn btn-default" onClick="location.href = '{{ path('clientUser_index') }}'" type="button">Cancel</button>#}
                       </div>
                    
                </div>
              
                       {{form_rest(form)}}
               </form>
                </div>
        </div>
    </section>

    {% endblock body %}
    {% block javascripts %}
        {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#isp-partner_change_password').validate({
             
                rules: {
                    "dhi_isppartner_user[current_password]":{
                        "required": true,
                    },
                    "dhi_isppartner_user[password][first]": {

                        "required": true,
                        //"regex": /^((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,12})$/,
                    {#    "minlength": 8,
                        "maxlength": 12,#}
                    },
                    "dhi_isppartner_user[password][second]": {
                        "required": true,
                        "equalTo": "#dhi_isppartner_user_password_first",
                    }
                },
                messages: {
                    "dhi_isppartner_user[current_password]":{
                        "required": "This current password is required.",
                    },
                    "dhi_isppartner_user[password][first]": {
                        "required": "This New password field is required.",
                        {#"minlength": "Your password must have minimum 8 characters",
                        "maxlength": "Your password can have maximum 12 characters",#}
                        //"regex": "Password must be 8 characters in length including one uppercase letter, one special character and alphanumeric characters"
                    },
                    "dhi_isppartner_user[password][second]": {
                        "required": "This Confirm password field is required.",
                        "equalTo": "Password does not match the New password.",
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}

