{% block body %}
	<h1>Customer Promo Code</h1>
	
	<table cellspacing="0" cellpadding="5" border="1" class="sales_report_table" style="margin-top:50px;">
		<tr class="head">
			<th>Service Location</th>
			<th>Services</th>
			<th>Package	 type</th>
			<th>Promo Code</th>
			<th>Created By</th>
      <th>Note</th>
			<th>Expiration Date</th>
			<th>Duration</th>
			<th>Status</th>
            <th>Note</th>
			<th>Is Reedemed?</th>
		</tr>
		{% set i = 0 %}
	    {% if (promoData | length) %} 
            {% for recordArray in promoData %}
            	{% set trcls = 'oddrow' %}
            	{% if i % 2 != 0 %}
            		{% set trcls = 'evenrow' %}
            	{% endif %}
				{% set record = recordArray[0] %}
                <tr class="{{ trcls }}">
                    <td>{% if record.serviceLocations %} {{ record.serviceLocations.name }} {% endif %}
					</td>
					<td>{% if record.service %} {{ record.service.name }} {% endif %}</td>
          <td>
						{% if recordArray['packageName'] is not empty %}
							{% if recordArray['packageType'] == 'ISP' %}
								{% set days = 'days' %}
								{% if recordArray['validity'] == 1 %}
									{% set days = 'day' %}
								{% endif %}
								{{ recordArray['validity'] }} {{ days }} {{ recordArray['packageName'] }} plan (up to {{ recordArray['bandwidth'] }} kbps)  - ${{ recordArray['amount'] }}
							{% else %}
								{{ recordArray['packageName'] }} - ${{ recordArray['amount'] }}
							{% endif %}

						{% elseif record.isBundle %}
							{{ recordArray['description'] }} - ${{ recordArray['bundleAmount'] }}
						{% endif %}
					</td>
                    <td>{{ record.promoCode }} </td>
                    <td>{{ record.createdBy }} </td>
					<td>{{ record.note }}</td>
					<td>{{ record.expiredAt|date('M-d-Y') }}</td>
					<td>{{ record.duration }} Hour</td>
                    <td>{% if record.status == 1 %}Active{% else %}InActive{% endif %}</td>
                    <td>{{ record.note }}</td>
					<td>{% if record.noOfRedemption == 1 %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% set i = i+1 %}
            {% endfor %}
        {% else %}
            <tr><td colspan="11" align="center">No records found.</td></tr>
        {% endif %}	
	</table>	
{% endblock body %}