{% extends "DhiAdminBundle::layout.html.twig" %} 
{% block body %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
<section class="content">
    <div class="row">
        {% include "DhiUserBundle::flashMessage.html.twig" %}
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <h4 class="mainTitle">
                                <b>Employee Detail</b>
                            </h4>

				<table class="table table-bordered table-hover">

                                <tr>
                                    <th>Username</th>
                                    <td>{{ user.username }}  {% if admin_permission.checkPermission('employee_update') %}<span class="pull-right"><a href="{{ path('dhi_admin_edit_employee', {'id': user.id}) }}" class="btn btn-success">Edit user</a></span>{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Firstname</th>
                                    <td>{{ user.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Lastname</th>
                                    <td>{{ user.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{ user.address }}</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>{{ user.city }}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{{ user.state }}</td>
                                </tr>
                                <tr>
                                    <th>Zip</th>
                                    <td>{{ user.zip }}</td>
                                </tr>
                                <tr>
                                    <th>Country</th>
                                    <td>{{ user.country ? user.country.name : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Active</th>
                                    <td>{{ user.isEnabled ? 'Active' : 'Inactive'}}</td>
                                </tr>
                                 <tr>
                                    <th>Service Location</th>
                                    <td><b>{{ user.userServiceLocation ? user.userServiceLocation.name : '-' }}</b></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
        
        <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mainTitle">
                                <b>Employee Setting Detail</b>
                            </h4>
                            <table class="table table-bordered table-hover">
                                
                                        <tr>
                                            <th width="380">Max Mac Address</th>
                                            <td>
                                                {% if user.userSetting and user.userSetting.macAddress %}
                                                    
                                                    {{ user.userSetting.macAddress}}
                                                {% else %}
                                                    {{ app.session.get('mac_address') }}
                                                {% endif %}    
                                        </tr>
                                        
                                        <tr>
                                            <th width="380">Max Daily Transaction</th>
                                            <td>
                                                {% if user.userSetting and user.userSetting.maxDailyTransaction %}
                                                    
                                                    {{ user.userSetting.maxDailyTransaction}}
                                                {% else %}
                                                    {{ app.session.get('max_daily_transaction') }}
                                                {% endif %}    
                                        </tr>
                                      
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>                                    

       	<div class="col-md-8">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mainTitle">
                                <b>Employee Active Service(s)</b>
                            </h4>
                            
                            <table class="table table-bordered table-hover">
                                <thead>
	                                <tr>
										<th nowrap="nowrap">Service</th>
										<th nowrap="nowrap">Package<br/>Name</th>
										<th nowrap="nowrap">Package<br/>Amount</th>
										<th nowrap="nowrap">Discount<br/>Amount</th>
										<th nowrap="nowrap">Previous Plan<br/>Unused Credit</th>
										<th nowrap="nowrap">Remaining<br/>Day</th>										
										<th nowrap="nowrap">Activated<br/>Date</th>
										<th nowrap="nowrap">Expiry<br/>Date</th>
									</tr>
								</thead>
								{% if activeServiceList|length > 0 %}
								    {% set isServiceFound = 0 %}
									{% if 'ISP' in activeServiceList|keys %}
			
										{% set ispLength   = activeServiceList.ISP|length %}				
										{% if ispLength > 0 %}
											
											{% set i = 0 %}		
											{% for ispService in activeServiceList.ISP if ispService.purchaseType != 'BUNDLE' %}
											    {% set isServiceFound = 1 %}
												<tr>
													{% if i == 0 %}
													<td rowspan="{{ ispLength }}" align="center"><b>ISP</b></td>
													{% endif%}
													<td>{{ ispService.packageName~' - '~ispService.bandwidth~'k - '~ispService.validity~' day(s)' }}</td>
													<td>${{ ispService.actualAmount }}</td>
													<td>${{ ispService.discountAmount }}</td>
													<td>{{ ispService.unusedCredit }}</td>
													<td>{{ ispService.remainingDays }}</td>													
													<td>{{ ispService.activationDate }}</td>
													<td>-</td>
												</tr>
												{% set i = i + 1 %}
											{% endfor %}
											
										{% endif %}
									{% endif %}
									
									{% if 'IPTV' in activeServiceList|keys %}
			
										{% set iptvLength   = activeServiceList.IPTV|length %}				
										{% if iptvLength > 0 %}
											
											{% set i = 0 %}		
											{% for iptvService in activeServiceList.IPTV if iptvService.purchaseType != 'BUNDLE' %}			
											    {% set isServiceFound = 1 %}      
												<tr>
													{% if i == 0 %}
													<td rowspan="{{ iptvLength }}" align="center"><b>ExchangeVUE Packages</b></td>
													{% endif %}
													<td>{{ iptvService.packageName }}</td>
													<td>${{ iptvService.actualAmount }}</td>
													<td>${{ iptvService.discountAmount }}</td>
													<td>{{ iptvService.unusedCredit }}</td>
													<td>{{ iptvService.remainingDays }}</td>
													<td>{{ iptvService.activationDate }}</td>
													<td>-</td>
												</tr>
												{% set i = i + 1 %}
											{% endfor %}
											
										{% endif %}
									{% endif %}
									
									{% if 'AddOn' in activeServiceList|keys %}
            
                                        {% set addOnLength   = activeServiceList.AddOn|length %}
                                        {% if addOnLength > 0 %}
                                            
                                            {% set i = 0 %} 
                                            {% for addOnService in activeServiceList.AddOn %}
                                                {% set isServiceFound = 1 %}
                                                <tr>
                                                    {% if i == 0 %}
                                                    <td rowspan="{{ addOnLength }}" align="center"><b>Premium Package</b></td>
                                                    {% endif%}
                                                    <td>{{ addOnService.packageName }}</td>
                                                    <td>${{ addOnService.actualAmount }}</td>
                                                    <td>${{ addOnService.discountAmount }}</td>
                                                    <td>{{ addOnService.unusedCredit }}</td>
                                                    <td>{{ addOnService.remainingDays }}</td>             
                                                    <td>{{ addOnService.activationDate }}</td>
                                                    <td>-</td>
                                                </tr>
                                                
                                                {% set i = i + 1 %}
                                            {% endfor %}                                            
                                        {% endif %}
                                    {% endif %}

                                    {% if 'BUNDLE' in activeServiceList|keys %}
            
                                        {% set bundleLength   = activeServiceList.BUNDLE|length %}
                                        {% if bundleLength > 0 %}
                                            
                                            {% set i = 0 %}     
                                            {% for bundleId, bundleService in activeServiceList.BUNDLE %}
                                                {% set isServiceFound = 1 %}      
                                                {% if 'ISP' in bundleService|keys and 'IPTV' in bundleService|keys %}
                                                    {% set bundleLength   = 3 %}
                                                {% else %}
                                                    {% set bundleLength   = 2 %}
                                                {% endif %}
                                                <tr>
                                                    {% if i == 0 %}
                                                        <td rowspan=" {{ bundleLength }} " align="center"><b>{{bundleService.displayBundleName}}</b></td>
                                                    {% endif %}
                                                    {% if 'ISP' in bundleService|keys %}
                                                        {% for bundlePackage in bundleService.ISP %}
                                                            <tr>
                                                                <td ><b>ISP</b><br/>{{ bundlePackage.packageName~' - '~bundlePackage.bandwidth~'k - '~bundlePackage.validity~' day(s)' }}</td>
                                                                <td>${{ bundlePackage.actualAmount }}</td>
                                                                <td>${{ bundlePackage.discountAmount }}</td>
                                                                <td>{{ bundlePackage.unusedCredit }}</td>
                                                                <td>{{ bundlePackage.remainingDays }}</td>
                                                                <td>{{ bundlePackage.activationDate }}</td>
                                                                <td>-</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                        
                                                    {% if 'IPTV' in bundleService|keys %}
                                                        {% for bundlePackage in bundleService.IPTV %}
                                                            <tr>
                                                                <td nowrap="nowrap"><b>IPTV</b><br/>{{ bundlePackage.packageName }}</td>
                                                                <td>${{ bundlePackage.actualAmount }}</td>
                                                                <td>${{ bundlePackage.discountAmount }}</td>
                                                                <td>{{ bundlePackage.unusedCredit }}</td>
                                                                <td>{{ bundlePackage.remainingDays }}</td>
                                                                <td>{{ bundlePackage.activationDate }}</td>
                                                                <td>-</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tr>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
								{% else %}								
									<tr><td colspan="9" align="center">No active service found.</td></tr>	
								{% endif %}
                                {% if isServiceFound == 0 %}
                                    <tr><td colspan="9" align="center">No active service found.</td></tr>   
                                {% endif %}
                            </table>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">

                        <div class="col-xs-12">

                            <h4 class="mainTitle">

                                <b>Set Top Box Mac Address<span>&nbsp;(Maximum: {{app.session.get('mac_address')}})</span></b>
                                {% if admin_permission.checkPermission('mac_address_create') %}
                                {% if app.session.get('mac_address') > userMacAddress|length %}
                                <a href="javascript:void(0);" id="add-mac-address" class="btn btn-success pull-right">Add Mac Address</a>
                                {% endif%}
                                {% endif%}

                            </h4>

                        </div>

                        <div class="col-xs-12">

                            <div id="form-body">

                            </div>   

                        </div>

                    </div>
                </div>
            </div>

        
        
          {% if admin_permission.checkPermission('mac_address_list') or admin_permission.checkPermission('mac_address_update') or admin_permission.checkPermission('mac_address_delete') or admin_permission.checkPermission('mac_address_create') %}
        <div class="row">
           
              <div class="col-md-12">
                
            <div class="box box-success">
                <div id="flash-message" class="msgBoxCont"></div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-xs-12">
                            <h4 class="mainTitle">
                                <b>Employee Mac Address</b>
                            </h4>

                            <div class="tab-content col-lg-12" id="mac-address-list">
                            
                             {{ include('DhiAdminBundle:UserMacAddress:list.html.twig', {'userMacAddress': userMacAddress}) }}
                              
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div></div>
         {% endif %}

    </div>

    
</section>
<div id="ajax-loader-bx" style="display:none;">
	<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
	<div id="loader-text">Please wait....</div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">

    $(document).ready(function() {

        // render form to add mac address
        $("#add-mac-address").live("click", function() {

            $.ajax({
                type: "POST",
                url: '{{ path('dhi_admin_mac_address_add', {'userId' : app.request.get('id')}) }}',
                 beforeSend: function() {
                    
                       $('#ajax-loader-bx').show();
                    
                    },
                success: function(result)
                {
                    if (result) {
                        $('#ajax-loader-bx').hide();
                        $("#form-body").show();
                        $("#form-body").html(result);
                        return true;
                    }

                }
            });

        });

        // delete mac address
        $("[id^=delete-mac-address]").live("click", function() {

            var id = $(this).attr('data');
            var flag = false;

            $.confirm({
                title: 'Delete Mac Address',
                content: 'Are you sure you want to delete this mac address?',
                icon: '',
                confirmButton: 'Yes',
                cancelButton: 'No',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                theme: 'white',
                animation: 'scale',
                animationSpeed: 400,
                animationBounce: 1.5,
                keyboardEnabled: false,
                container: 'body',
                confirm: function() {
                    
                    if (id) {
                        
                        var deleteUrl = '{{path('dhi_admin_mac_address_remove', {'id' : 'macId', 'userId' : app.request.get('id')})}}';
                        deleteUrl = deleteUrl.replace('macId', id);

                        $.ajax({
                            type: "POST",
                            url: deleteUrl,
                            beforeSend: function() {
                    
                                     $('#ajax-loader-bx').show();
                    
                                    },
                            success: function(result)
                            {
                                $('#ajax-loader-bx').hide();  
                                var flagMacAddress = jQuery.parseJSON(result);
                                
                                $("#editMacAddress").hide();
                                $("#addMacAddress").hide();
                                
                                if(flagMacAddress.error && flagMacAddress['status'] == 'failure') {
                                            
                                            flashMsg = disErrorMsg('danger', flagMacAddress.error);
                                            $("#flash-message").html(flashMsg);
                                            return false;
                                        
                                }   

                                if (flagMacAddress['status'] != 'failure') {

                                    if ('{{app.session.get('mac_address')}}' > flagMacAddress['totalMacAddress']) {

                                        $("#add-mac-address").show();

                                    }

                                    flashMsg = disErrorMsg('success', 'Mac address deleted successfully.');
                                    $("#flash-message").html(flashMsg);

                                    $("#mac-address-list").html(flagMacAddress['status']);
                                    return true;

                                }

                            }
                        });

                    }
                },
                cancel: function() {
                    
                },
                contentLoaded: function() {
                },
                backgroundDismiss: false,
                autoClose: false,
                closeIcon: true,
            });


        });

        // edit mac address
        $("[id^=edit-mac-address]").live("click", function() {

            var id = $(this).attr('data');

            if (id) {

                var editUrl = '{{path('dhi_admin_mac_address_edit', {'id' : 'macId', 'userId' : app.request.get('id')})}}';
                editUrl = editUrl.replace('macId', id);

                $.ajax({
                    type: "POST",
                    url: editUrl,
                     beforeSend: function() {
                    
                       $('#ajax-loader-bx').show();
                    
                    },
                    success: function(result)
                    {
                        if (result) {
                            $('#ajax-loader-bx').hide();
                            $("#form-body").show();
                            $("#form-body").html(result);
                            return true;
                        }

                    }
                });

            }

        });
    });

    function disErrorMsg(msgType, msg) {
        var html = '';
        html += '<div class="alert alert-' + msgType + '">';
        html += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
        html += msg
        html += '</div>';
        return html;
    }
</script>
{% endblock javascripts %}