{% extends "DhiAdminBundle::layout.html.twig" %}
{% block body %}
    <section class="content-header">
        <h1>Add Credit</h1>
    </section>
    {% include "DhiUserBundle::flashMessage.html.twig" %}
    <section class="content">
        <div class="box box-success">
            <form method="POST" action="{{ path('dhi_admin_credit_new') }}"   class="form-horizontal" id="add_credit" novalidate>
            <div class="box-body">	
                <div class="col-xs-8">
                    
                    <div class="form-group col-sm-6">
                        <label class="control-label">Credit: </label>
                        <div>
                            {{ form_widget(form.credit, { 'attr': { 'placeholder': 'Credit', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.credit) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">Amount: </label>
                        <div>
                            {{ form_widget(form.amount, { 'attr': { 'placeholder': 'Amount', 'class': 'form-control'}}) }}
                            <div class="serverError">{{ form_errors(form.amount) }}</div>
                        </div>
                    </div>    
                </div> 
			</div>
			<div class="box-footer">				
				{{ form_rest(form) }}
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success" name="add" value="Add"/>
                        <a href="{{ path('dhi_admin_credit_list') }}" class="btn btn-default">Back</a>
                    </div>
                </div>
            </div>    
            </form>
        </div>
    </section> 

     {{ tinymce_init() }}
    
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
        	
        	$('#add_credit').validate({
            	rules: {
            		"dhi_credit[credit]": {
                        "required": true,
                        "number" : true,
                        "maxlength" : 9
                    },
                    "dhi_credit[amount]": {
                        "required": true,
                        "number" : true,
                        "maxlength" : 9
                    }
                },
                messages: {
                    "dhi_credit[credit]": {
                        "required": "Please enter credit.",
                        "maxlength": "Credit can have maximum 9 digits."
                    },
                    "dhi_credit[amount]": {
                        "required": "Please enter amount.",
                        "maxlength": "Amount can have maximum 9 digits."
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
                

    
