<span style="font-family:Times New Roman;font-size:14px;">Hi Admin,</span><br/><br />
 <span style="font-family:Times New Roman;font-size:14px;">Service {{notificationData.servicetype}} failed to {{notificationData.type}} for user {{notificationData.firstname}} {{notificationData.lastname}} (Username: {{notificationData.userName}}). </span><br /> <br />
 <span style="font-family:Times New Roman;font-size:14px;">Questions? Talk to us on <a href="{{supportpage}}">{{supportpage}}</a> or go to <a href="{{companydomain}}/support">{{companydomain}}/support</a> and tell us what you think. We'd love to hear from you.</span>
<br /><br />
<span style="font-family:Times New Roman;font-size:14px;">Thank you!</span>
 
