{% extends "DhiAdminBundle::layout.html.twig" %}
{% block body %}
     <section class="content-header">
        <h1>Assign Solar Winds Request Type </h1>
    </section>
    {% include "DhiUserBundle::flashMessage.html.twig" %}
     <section class="content">
        <div class="box box-success">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ path('dhi_admin_solar_winds_location_add') }}" method="POST" {{ form_enctype(form) }} id="locationWiseSolarWindsForm" class="form-horizontal" novalidate>		            
                        <div class="box-body form-group-section">

                            <div class="form-group col-md-4">
                                <label class="control-label">Site: </label>
                                {{ form_widget(form.supportsite, { 'attr': { 'placeholder': 'Select Site', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.supportsite) }}</div>	
                            </div>
                            
                            <div class="form-group col-md-4">
                                <label class="control-label">Support Location: </label>
                                {{ form_widget(form.supportLocation, { 'attr': { 'placeholder': 'Service Location', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.supportLocation) }}</div>	
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Solar Winds Request Type: </label>
                                {{ form_widget(form.solarWindsRequestType, { 'attr': { 'placeholder': 'Solar Wind Problem Name', 'class': 'form-control'}}) }}
                                <div class="serverError">{{ form_errors(form.solarWindsRequestType) }}</div>	
                            </div>
                        </div>
                        <div class="box-footer">		
                            <div class="col-sm-12">
                                <input type="submit" name="add" value="Add" class="btn btn-success"/>
                                <a href="{{ path('dhi_admin_solar_winds_location_list') }}" class="btn btn-default">Back</a>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </form>

                </div>
            </div>
    </section>	
   
    <div id="ajax-loader-bx" style="display:none;">
	<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
	<div id="loader-text">Please wait....</div>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#locationWiseSolarWindsForm').validate({
                rules: {
                    "dhi_admin_solar_winds_location[supportsite]": {
                        "required": true
                    },
                    "dhi_admin_solar_winds_location[supportLocation]": {
                        "required": true
                    },
                    "ddhi_admin_solar_winds_location[solarWindsRequestType]": {
                        "required": true
                    }
                },
                messages: {
                    "dhi_admin_solar_winds_location[supportsite]": {
                       "required": "Please select site"
                    },
                    "dhi_admin_solar_winds_location[supportLocation]": {
                        "required": "Please select support location"
                    },
                    "dhi_admin_solar_winds_location[solarWindsRequestType]": {
                        "required": "Please select solar winds Request Type"
                    }
                }
            });
         
           $('#dhi_admin_solar_winds_location_supportLocation').empty();
            var s= document.getElementById('dhi_admin_solar_winds_location_supportLocation');
            s.options[0]= new Option('Select Support Location', '');
           
	   $('#dhi_admin_solar_winds_location_supportsite').change(function() {
               $.ajax({
                    type: "POST",
                    url: "{{ path('dhi_admin_get_sitewise_support_location') }}",
                    data: {siteId:this.value},
                    beforeSend: function(xhr) {
                       $('#ajax-loader-bx').show();
                    },
                    success:function(result){
                        $('#dhi_admin_solar_winds_location_supportLocation').empty();
                        var s= document.getElementById('dhi_admin_solar_winds_location_supportLocation');
                        s.options[0]= new Option('Select Support Location', '');
                        $.each(result,function(key,value){
                           $("#dhi_admin_solar_winds_location_supportLocation").append('<option value="' + value.id + '">'  +   value.name + '</option>');
                        });
                        $('#ajax-loader-bx').hide();
                    }
                   });
              });
            
        });
    </script>
{% endblock javascripts %}