{% extends "DhiAdminBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/dhiadmin/css/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/dhiadmin/FCBKcomplete/style.css') }}" type="text/css" media="screen" charset="utf-8" />
<style>
	.row-yellow {
		background-color: #E2D85B !important;
	}
</style>
{% endblock stylesheets %}
{% block body %}


	{% include "DhiUserBundle::flashMessage.html.twig" %}
	<div class="delBoxCont"></div>

	<section class="content-header">
		<h1>Active User Report</h1>
	</section>
	<section class="content">

		<div class="row">
			<div class="col-lg-12">
				<div class="box box-success">
					<form method="get" id="searchService">
						<div class="box-body autofieldBox" id="name">
							 <div class="row">
									<label class="col-sm-2 text-right control-label">Service Location </label>
									<div class="col-sm-3" >
										<select name="package" id="serviceLocation" class="salesDrop">
											<option value="">Select Service Location </option>
											{% for package in serlocation %}
													<option value="{{package}}">{{package}} </option>
											{% endfor %}
										</select>
									</div>

									<div class="col-sm-3" >
										<select name="serviceType" id="serviceType">
											{% for service in services %}
												{% if service.name|upper != 'TVOD' and service.name|upper != 'BUNDLE' %}
													{% if service.name|upper == 'ISP' %}
														{% set selected = 'selected="selected"' %}
													{% else %}
														{% set selected = '' %}
													{% endif %}
													<option {{selected}} value="{{service.name}}">{{service.name}} </option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>

						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="box box-success">
			<div class="box-body">
				<div class="row">
					<div class="col-xs-12 datatableSearch">

						<div class="">
							{% if admin_permission.checkPermission('active_user_report_export_csv') %}
									<a href="{{ path('dhi_admin_active_user_export_csv',app.request.query.all) }}" class="btn btn-success pull-right margin-top5" id="export_csv" >Export CSV</a>
							{% endif %}
							{% if admin_permission.checkPermission('active_user_report_export_excel') %}
									<a href="{{ path('dhi_admin_active_user_export_excel',app.request.query.all) }}" class="btn btn-success pull-right margin-top5" id="export_excel" >Export Excel</a>
							{% endif %}
						</div>
						<table id="activeUserReportTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" style="padding-top: 20px;">
							<thead>
								<tr>
									<th>Service Location</th>
									<th>Total</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="ajax-loader-bx" style="display:none;">
		<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
		<div id="loader-text">Please wait....</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
		<script src="{{ asset('bundles/dhiadmin/js/jquery-ui-1.10.3.custom.min.js') }}"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				dTable = $('#activeUserReportTable').dataTable({
					oLanguage: {
						sZeroRecords: "<center>No Record Found!</center>",
					},
					bDeferRender: true,
					bSortClasses: false,
					responsive: true,
					bJQueryUI: false,
					bProcessing: true,
					bServerSide: true,
					bFilter: true,
					bPaginate: false,
					bInfo : false,
					sAjaxSource: "{{ path('dhi_admin_active_user_list_json', { 'fromip': '0', 'toip': '0', 'service': 'ISP' })  }}",
					fnServerData: function (sUrl, aoData, fnCallback, oSettings) {
						oSettings.jqXHR = $.ajax({
							"url":  sUrl,
							"data": aoData,
							"success": function (json) {
								if ( json.sError ) {
									oSettings.oApi._fnLog( oSettings, 0, json.sError );
								}

								$(oSettings.oInstance).trigger('xhr', [oSettings, json]);
								fnCallback(json);
							},
							"dataType": "json",
							"cache": false,
							"type": oSettings.sServerMethod,
							"error": function (xhr, error, thrown) {
								if ( error == "parsererror" ) {
								  window.location = "{{ path('dhi_admin_user_list') }}";
								}
							}
						});
					},
					fnDrawCallback: function () {
						if (this.fnSettings().fnRecordsTotal() == 0) {
							$("#export_print, #export_csv, #export_pdf, #export_excel").addClass('disabled');
						} else {
							$("#export_print, #export_csv, #export_pdf, export_excel").removeClass('disabled');
						}
					},
					fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
						if (aData[0].search('Grand Total') != -1) {
							nRow.className = "row-yellow";
							var serviceSale = $('td', nRow).eq(1).attr('id', 'totalsale');
							var totalsale = $('td', nRow).eq(1).text();
							var html = '';
							html += '<div class="pull-right" style="padding-right:102px;">'+totalsale+'</div>';
							$('td', nRow).eq(1).attr('id', 'totalsale').html(html);
						}

						return nRow;
					},
					aoColumns: [
						{"sName": "name", "bSearchable": true, "bSortable": true,"sWidth":"30%"},
				   	{# {"sName": "paymentMethod", "bSearchable": true, "bSortable": true},#}
						{"sName": "totalMember", "bSearchable": true, "bSortable": false},
					],
				});

				$("input, select").addClass("form-control");

				$("#serviceLocation").change(function(){
					var serviceLocations = $(this).val() || "";
					var serviceType = $("#serviceType").val();
					var IpUrl = '{{ path('dhi_admin_active_user_list_json', {'fromip' : '0', 'toip' : '0' , 'name':'package_name', 'service': 'service_type' }) }}';

					IpUrl = IpUrl.replace("service_type", serviceType);
					IpUrl = IpUrl.replace("package_name", serviceLocations).replace(/&amp;/g, '&');
					var oSettings = dTable.fnSettings();
					oSettings.sAjaxSource = decodeURI(IpUrl);
					dTable.fnDraw(true);
				});

				$("#serviceType").change(function(){
					var serviceType = $(this).val();
					var serviceLocations = $('#serviceLocation').val() || "";

					var IpUrl = '{{ path('dhi_admin_active_user_list_json', {'fromip' : '0', 'toip' : '0' ,'name':'package_name', 'service': 'service_type' }) }}';
					IpUrl = IpUrl.replace("service_type", serviceType);
					IpUrl = IpUrl.replace("package_name", serviceLocations).replace(/&amp;/g, '&');

					var oSettings = dTable.fnSettings();
					oSettings.sAjaxSource = decodeURI(IpUrl);
					dTable.fnDraw(true);
				});
		});
		</script>

{% endblock %}
