{% extends "DhiAdminBundle::layout.html.twig" %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    #logModel .modal-dialog{
        width:835px;
    }
    </style>
{% endblock stylesheets %}


<div id="flash-message" class="msgBoxCont"></div>
{% include "DhiUserBundle::flashMessage.html.twig" %}
<div class="delBoxCont"></div>		
<section class="content-header"><h1>Search User</h1></section>
<section class="content">	
	<div class="row">
		<div class="col-lg-12">
			<div class="box box-success">
				<form method="get">
					<div class="box-body">
					<div class="row">
                                                <div class="form-group col-md-3">
                                                    
                                                       <input type="text" name="firstname" class="text_filter form-control search_init" id="firstname" placeholder="First Name" >
                                                        
						</div>
                                                <div class="form-group col-md-3">
                                                   
                                                        <input type="text" name="lastname" class="text_filter form-control search_init" id="lastname" placeholder="Last Name" >
                                                        
						</div>
						<div class="form-group col-md-3">
							<div id="username"></div>
						</div>
                                               
						<div class="form-group col-md-3">
							<div id="email"></div>
						</div>                                    
						<div class="form-group col-md-3">
							<div id="ActiveService"></div>
						</div>  
                            <div class="form-group col-md-3">
							<div id="ServiceLocation"></div>
						</div>
					</div>
                    <div class="row">
                         <div class="form-group col-md-3">
                            <input type="checkbox" name="is_only-filter" id="isSuspended">SUSPENDED
                        </div>
                    </div>
                    </div>
				</form>
			</div>
		</div>
	</div>		

	<div class="box box-success">
        <div class="box-body">
			<div class="row">
				<div class="col-xs-12">  
                    {% if admin_permission.checkPermission('user_create') %}
                       <div class="addNewBtnsGrp">
                        <a href="{{ path('dhi_user_new') }}" class="btn btn-success pull-right margin-top5">Add new customer</a>
                       </div>
                    {% endif %}
	                <table id="userTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
	                    <thead>
	                        <tr>
	                            <th width="40">Id</th>
	                            <th width="100">Name</th>
	                            <th width="100">Username</th>
	                            <th width="160">Email</th>
	                            <th width="80">Active<br> Services</th>
                              	<th width="80">Service<br> Location</th>
	                            <th width="130">Activation<br>Date</th>
                              	<th width="130">Expiry<br>Date</th>
	                            <th width="60">Action</th>
	                        </tr>
	                    </thead>
	                </table>
                </div>
            </div>
    	</div>
	</div>        
</section>  

          
<div id="ajax-loader-bx" style="display:none;">
	<img id="loading" src="{{ asset('bundles/dhiuser/images/ajax_loader1.gif') }}"><br/>
	<div id="loader-text">Please wait....</div>
</div>

<div class="modal fade" id="logModel" tabindex="-1" role="dialog" aria-labelledby="logModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="compensationModel" tabindex="-1" role="dialog" aria-labelledby="compensationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock body %}


{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">
     
    $(window).load(function() {
        $('#isSuspended').removeClass('form-control');
    });

     $(document).ready(function () {
          
            deleteAjaxSource = '{{ path('dhi_admin_delete_customer') }}';
          
            dTable = $('#userTable').dataTable({
               
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ Records",
                    "sZeroRecords": "<center>No Record Found!</center>",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ Records",
                    "sInfoEmpty": "Showing 0 to 0 of 0 records",
                    "sInfoFiltered": "(filtered from _MAX_ total records)"
                },
                responsive: true,
                bJQueryUI: false,
                bProcessing: true,
                bServerSide: true,
                bFilter: true,
                bPaginate:true,
                //multipleSelection: true,
                iDisplayLength: {{ record_per_page }},
                sAjaxSource: "{{ path('dhi_admin_user_list_json') }}",
                "fnServerData": function ( sUrl, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "url":  sUrl,
                        "data": aoData,
                        "success": function (json) {
                            if ( json.sError ) {
                                    oSettings.oApi._fnLog( oSettings, 0, json.sError );
                            }
                            $(oSettings.oInstance).trigger('xhr', [oSettings, json]);
                            fnCallback( json );
                        },
                        "dataType": "json",
                        "cache": false,
                        "type": oSettings.sServerMethod,
                        "error": function (xhr, error, thrown) {
                            if ( error == "parsererror" ) {
                                        window.location = "{{ path('dhi_admin_dashboard') }}";
                                }
                        }
                    } );
		},
                aoColumns: [
                    {"sName": "Id", "bSearchable": false, "bSortable": true, "bVisible": false},
                    {"sName": "Name","bSearchable": false,"bSortable": true},
                    {"sName": "Username", "bSearchable": true, "bSortable": true},
                    {"sName": "Email", "bSearchable": true, "bSortable": true},
                    {"sName": "ActiveServices", "bSearchable": true, "bSortable": false},
                    {"sName": "ServiceLocation", "bSearchable": true, "bSortable": false},
                    {"sName": "ActivationDate", "bSearchable": false, "bSortable": false},
                    {"sName": "ExpiryDate", "bSearchable": false, "bSortable": false},
                    {"sName": "Action", "bSearchable": false, "bSortable": false},
                    
                ],
                 "fnServerParams": function ( aoData ) {
                    aoData.push( { "name": "firstname", "value": $("#firstname").val() } );
                    aoData.push( { "name": "lastname", "value": $("#lastname").val() } );
                    aoData.push( { "name": "isSuspended", "value": $("#isSuspended").is(":checked") } );
                },
                aoColumnDefs: [
                    {
                        "mRender": function(data, type, row) {
                        	var actionFlag = row[9].split('^');
                        	var dataId = actionFlag[0];    
                                var flagSetting = actionFlag[2];
                                var firstlastname = row[1];
                                var username = actionFlag[3];
                                var isActiveService = row[4];
                                var isSuspended = row[10];
                                
                                var headTitle = "Customer Delete";
                                var msg = 'Are you sure you want to delete this Customer?';
                                var returnData = "";
                                
                                returnData += "<a href='javascript:void(0);' class='selectLink'>Select <span class='fa fa-angle-down'></span></a>";
                                returnData += "<ul class='selectDropdown' style='display: none;'>";
                                
                                {% if admin_permission.checkPermission('view_user') %}
                                
                                	var viewUrl = '{{ path('dhi_admin_view_customer', {'id': 'user_id'}) }}';
                                	var viewUser = viewUrl.replace("user_id", dataId);
                                	returnData +='<li><a href="'+viewUser+'" title="Purchase Details">View</a></li>';                    
                            	{% endif %}
                             
                                {% if admin_permission.checkPermission('user_updeate') %}
                                    var editUrl = '{{ path('dhi_admin_edit_customer', {'id': 'user_id'}) }}';
                                    var editUser = editUrl.replace("user_id", dataId);
                                    returnData +='<li><a href="'+editUser+'"  title="Edit"> Edit</a></li>';
                                {% endif %}

                                if(isActiveService != 'N/A'){
                                    {% if admin_permission.checkPermission('compensation_create') and (admin.group == "Super Admin" or admin.group == "Manager") %}
                                        returnData +='<li><a href="javascript:void(0);" onclick="showCompensationBox('+dataId+')" title="Comp"> Comp</a></li>';
                                    {% endif %}
                                }
    
                                {% if admin_permission.checkPermission('user_purchase_detail') %}
                                    var purchaseDetailUrl = '{{ path('dhi_admin_user_service_details', {'id': 'user_id'}) }}';
                                    var purchaseDetailUser = purchaseDetailUrl.replace("user_id", dataId);

                                    if(isSuspended == 'Un-Suspended'){
                                        {% if admin_permission.checkPermission('user_purchase') %}
                                            returnData +='<li><a href="'+purchaseDetailUser+'"  title="Purchase Details">Services</a></li>';
                                        {% endif %}
                                    }

                                    {% if admin_permission.checkPermission('user_service_suspend') %}
                                        if(isSuspended == 'Un-Suspended'){
                                            userSuspendUrl = '{{ path('dhi_admin_user_service_suspend', {'id': 'user_id'}) }}';
                                            var userServiceSuspendUrl = userSuspendUrl.replace("user_id", dataId);
                                            returnData +='<li><a href="'+userServiceSuspendUrl+'"  title="Suspend Service">Suspend</a></li>';
                                        }else{
                                            userSuspendUrl = '{{ path('dhi_admin_user_service_unsuspend', {'id': 'user_id'}) }}';
                                            var userServiceSuspendUrl = userSuspendUrl.replace("user_id", dataId);
                                            returnData +='<li><a href="'+userServiceSuspendUrl+'"  title="Service Unsuspend">Unsuspend</a></li>';
                                        }
                                   {% endif %}
                              {% endif %}

							  {% if admin_permission.checkPermission('refund_expired_plans_list') %}
                                    var refundUrl = '{{ path('dhi_admin_view_expired_plans_list', {'id': 'user_id'}) }}';
                                        refundUrl = refundUrl.replace("user_id", dataId);
                                    returnData +='<li><a href="'+refundUrl+'"  title="Expired Plans">Expired Plans</a></li>';
                              {% endif %}

                              {% if admin_permission.checkPermission('user_log_detail') %}
                                    returnData += '<li><a href="javascript:void(0)"  onclick="showLogBox('+dataId+')">Log</a></li>';

                                    /*
                                        var logUrl = '{{ path('dhi_admin_user_log', {'id': 'user_id'}) }}';
                                        var logUser = logUrl.replace("user_id", dataId);
                                        returnData +='<td><a href="'+logUser+'" class="btn btn-success" title="Edit">Log Details</a></td>';
                                    */
                                {% endif %}

                                {% if admin_permission.checkPermission('user_delete') %}
                                	var deleteUrl = '{{ path('dhi_admin_delete_customer', {'id': 'user_id'}) }}';
                                	var finalPath = deleteUrl.replace("user_id", dataId);
                                	returnData +='<li><a href="javascript:void(0)"  title="Delete" onclick="return deleterecord(' + dataId + ',' + "'" + headTitle + "'" + ',' + "'" + msg + "'" +')">Delete</a></li>';  
                               	{% endif %}
                           
                                returnData += "</ul>";
        
                                  
                            return returnData;
                        },
                        "aTargets": [8]
                    }
                ],
                aaSorting: [[0, 'DESC']]
            });
         
        
        
         
         $('#userTable').dataTable().columnFilter({
            aoColumns: [
             null, 
             {type: "text", sSelector: "#username"},
             {type: "text", sSelector: "#email"},
             {type: "select", sSelector: "#ActiveService", values: ['IPTV', 'ISP', 'IPTV and ISP']},
             {type: "select", sSelector: "#ServiceLocation", values: {{ serviceLocations|json_encode|raw }}}
             ]
            
            
        });
        
        var usegridtable = $('#userTable').DataTable();
        $('#firstname').focus(function(){
           usegridtable.fnDraw(true);
         });
         $('#firstname').blur(function(){
          usegridtable.fnDraw(true);
         });
         
         $('#lastname').focus(function(){
           usegridtable.fnDraw(true);
         });
         $('#lastname').blur(function(){
          usegridtable.fnDraw(true);
         });
        
       
        $("input").addClass("form-control");
        $("select").addClass("form-control");
        });

    $(document).ready(function() {

        $('#creditModal').on('show.bs.modal', function(event) {
            
            $('#user-credit').trigger("reset");
            $("#eagle-cash-div").hide();
            $("#pay-check").show();
            $("#proceed-check").hide();
            var button = $(event.relatedTarget) // Button that triggered the modal
            var userName = button.data('name')
            
            

            $("#select-credit").change(function() {

                creditId = $('option:selected', this).attr("credit");
                $("#credit_id").val(creditId);

            });
            
            var userId = button.data('id') // Extract info from data-* attributes
            $("#user_id").val(userId);

            var modal = $(this)
            modal.find('.modal-title').text('Add Credit To ' + userName + ' Account')
            modal.find('.modal-title-username').text(userName)

        });

    });

    $('#isSuspended').click(function(event) {
        dTable.fnDraw(true);
    });

    $("#user-credit").submit(function() {

        if ($(this).valid()) {
            
            userId 		= $("#user_id").val();
            creditId 		= $("#credit_id").val();
            creditamount 	= $("#select-credit").val();
            var actionnew       = creditamount.split('^');
            amount              = actionnew[0];
            credit              = actionnew[1];
            creditType 		= $("#credit-type").val();
            eagleCashNo 	= $("#eagle-cash-no").val();
            
            stepCreditProcced(userId, creditId, credit, amount, creditType, eagleCashNo);
             $('#modelTitleSecond').show();
             $('#modelTitle').hide();
            
            return false;
        }
    }).validate({
        rules: {
            "credit": {
                "required": true
            },
            "creditType": {
                "required": true
            },
            "eagleCashNo": {
            	required: function(element) {
                    return $("#eagle-cash-no").val() == '';
				}
            }
            
        },
        messages: {
            "credit": {
                "required": "Please select credit."
            },
            "creditType": {
                "required": "Please select credit type."
            },
            "eagleCashNo": {
                "required": "Please enter eagle cash number."
            }
        }
    });

    function showCompensationBox(userId) {
        var compUrl = '{{ path('dhi_admin_user_add_compensation', {'id': 'user_id'}) }}';
            compUrl = compUrl.replace("user_id", userId);
        
        $('#ajax-loader-bx').show();
        $('#compensationModel .modal-content').load(compUrl, { id:userId},function (result) {
            
            $('#ajax-loader-bx').hide();
            $('#compensationModel').modal({show: true});
        });

    }
    
    
    function stepCreditProcced(userId, creditId, credit, amount, creditType, eagleCashNo) {
        
            $("#pay-check").hide();
            $("#proceed-check").show();
            
            if(creditType == 'EagleCash') {
                
                $("#eagle-number").show();
                $("#coleagle-number").show();
                $("#roweagle-number2").show();
                $("#roweagle-number1").hide();
                
                
            } else {
                
                $("#eagle-number").hide();
                $("#coleagle-number").hide();
                $("#roweagle-number1").show();
                 $("#roweagle-number2").hide();
            }
            
            $('#proceed-cancel').click(function() {
                
                $("#pay-check").show();
                $("#proceed-check").hide();
                $('#modelTitleSecond').hide();
                $('#modelTitle').show();
                return false;
            
            });
            
            $('.close').click(function() {
                 $('#modelTitleSecond').hide();
                $('#modelTitle').show();
            });    
            
            $("#user-credit-type").html(creditType);
            $(".user-credit-amt").html('$'+amount);
             $(".user-credits").html(credit);
            $("#user-credit-eagle-number").html(eagleCashNo);
          
    }
    
   
    
    $("#submit-procced").bind('click', function (evt){
                
            userId 		= $("#user_id").val();
            creditId 		= $("#credit_id").val();
            creditamount 	= $("#select-credit").val();
            creditType 		= $("#credit-type").val();
            eagleCashNo 	= $("#eagle-cash-no").val();
           
            var action = creditamount.split('^');
            amount = action[0];
            credit = action[1];
            
            evt.preventDefault();
            var userCreditArr = {userId: userId, creditId: creditId, credit:credit, amount: amount, creditType: creditType, eagleCashNo: eagleCashNo};
            
                $.ajax({

                    type: "POST",
                    url: '{{path('dhi_admin_user_credit')}}',
                    data: {'userCredit' : userCreditArr},
                    beforeSend: function( xhr ) {

						$('#ajax-loader-bx').show();
					},
                    success: function(result)
                    {
                        var flagArr = jQuery.parseJSON(result);

                        if(flagArr['status'] == 'success') {

                            $('#user-credit')[0].reset();
                            flashMsg = disErrorMsg('success',flagArr['message']);
                            $("#flash-message").html(flashMsg);
                            $('#creditModal').modal('hide');
                            $('#modelTitleSecond').hide();
                            $('#modelTitle').show();

                            $("html, body").animate({scrollTop:0},"slow");
                            $("#pay-check").show();
                            $("#proceed-check").hide();
                            $('#ajax-loader-bx').hide();

                            return true;

                        } else {

                             $("html, body").animate({scrollTop:0},"slow");
                             $("#select-credit-error").show();
                             $("#select-credit-error").html(flagArr['message']);
                             $("#pay-check").show();
                             $("#proceed-check").hide();
                             $('#ajax-loader-bx').hide();

                             return false;                        
                        }
                    }
                });
                
            return false;    
     }); 
    
    
    function disErrorMsg(msgType, msg) {

        var html = '';
        html += '<div class="alert alert-' + msgType + '">';
        html += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
        html += msg
        html += '</div>';
        return html;
    } 

    function showLogBox(dataId) {
        var logUrl = '{{ path('dhi_admin_user_log_detail', {'id': 'user_id'}) }}';
            logUrl = logUrl.replace("user_id", dataId);
        
        $('#ajax-loader-bx').show();
        $('#logModel .modal-content').load(logUrl, { id:dataId},function (result) {
            
            $('#ajax-loader-bx').hide();
            $('#logModel').modal({show: true});
        });
    }
    
    function closeModelPopup() {
        $('#logModel').modal('hide');
        //window.location.reload();
    }
</script>

{% endblock javascripts %}
