{% extends "DhiUserBundle::layout.html.twig" %}

{% block body %}
    {% set brand = app.session.get('brand') %}
    {% set brandName = '' %}
    {% set brandDomain = '' %}
    {% if brand %}
        {% set brandName = brand.name %}
        {% set brandDomain = brand.domain %}
        {% set banner = brand.banner %}
    {% endif %}
    
    <section class="signup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-4">
                    {% block fos_user_content %}
                        {% trans_default_domain 'FOSUserBundle' %}
                        {#                    <h1>Forgot Password</h1>#}
                        <h2>Having trouble signing in?</h2>
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="forgot_password" role="form">
                            {#{% for flashMessage in app.session.flashbag.get('failure') %}
                                <div class="flash-message">{{ flashMessage  }}</div>
                            {% endfor %}#}
                            {% include "DhiUserBundle::flashMessage.html.twig" %}
                            {% if invalid_username is defined or invalid_email is defined%}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <p>Email/username is not registered.</p>
                                </div>
                            {% endif %}
                            <label id="resettype-error" class="error" for="resettype"></label>
                            <div class="form-group full-width">
                                <div class="full-width">
                                    <label class="radioL"><input type="radio" id="password" name="resettype" required="required" value="password" /> I don't know my password</label>
                                </div>
                                <div class="full-width">
                                    <label class="radioL"><input type="radio" id="username" name="resettype" required="required" value="username" /> I don't know my username </label>
                                </div>
                            </div>
                            <div class="form-group full-width">
                                <!--<input class="form-control" type="text" id="email" name="username" required="required" placeholder="Username or email address" />-->
                                {{ form_widget(requestPasswordForm.usernameoremail, { 'attr': { 'placeholder': 'Username or email address', 'class': 'form-control'}}) }}
                                {% if form_errors(requestPasswordForm.usernameoremail) %}
                                    <div class="serverError">{{ form_errors(requestPasswordForm.usernameoremail) }}</div>
                                    <div class="clear">&nbsp;</div>
                                {% endif %}
                            </div>
                            <div class="form-group full-width">
                                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success full-width-in submitBtn"/>
                            </div>
                            {{ form_rest(requestPasswordForm) }}
                        </form>
                    {% endblock fos_user_content %}
                </div>
                <div class="col-xs-12 col-sm-2 col-md-8"></div>
                 

                
            </div>
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            $('#forgot_password').validate({
                rules: {
                    "dhi_admin_request_password[usernameoremail]": {
                        "required": true
                    },
                    "resettype": {
                        "required": true
                    }
                },
                messages: {
                    "dhi_admin_request_password[usernameoremail]": {
                        "required": "Please enter username or email-address.",
                    },
                    "resettype": {
                        "required": "Please select one of the following options.",
                    }
                }
            });

            // update placeholder according to reset type (username, password) 
            $('input[name="resettype"]:radio').on('click', function () {
                switch ($(this).val()) {
                    case 'password':
                        $('input[name="dhi_admin_request_password[usernameoremail]"]').attr('placeholder', 'Username or email address');
                        $('input[name="dhi_admin_request_password[usernameoremail]"]').rules('add', {
                            required: true,
                            email: false,
                            messages: {
                                required: "Please enter username or email-address."
                            }
                        });
                        break;
                    case 'username':
                        $('input[name="dhi_admin_request_password[usernameoremail]"]').attr('placeholder', 'Email address');
                        $('input[name="dhi_admin_request_password[usernameoremail]"]').rules('add', {
                            required: true,
                            email: true,
                            messages: {
                                required: "Please enter email address.",
                                email: "Please enter a valid email address."
                            }
                        });
                        break;
                }
            });

            if ($('input[name="resettype"]:checked').val()) {
                $('input[name="resettype"][value="' + $('input[name="resettype"]:checked').val() + '"]').click();
            }

        });

    </script>

{% endblock javascripts %}