{% extends "DhiAdminBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dhiadmin/css/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}

    {% include "DhiUserBundle::flashMessage.html.twig" %}
    <div class="delBoxCont"></div>		

    <section class="content-header">
        <h1>Email campaign History</h1>
    </section>
    <section class="content">	

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-success">
                    <form method="get">
                        <div class="box-body">
                            <div class="form-group col-md-4">
                                <div class="row"><div class="col-sm-12" id="serviceLocation"></div></div>
                            </div>
                            <div class="form-group col-md-8">
                                <div class="row"><div class="col-sm-12" id="date-range"></div></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>		

        <div class="box box-success">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">  
                    <table id="emailCampaignTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email Id</th>
                                <th>Email Type</th>
                                <th>Service Location</th>
                                <th>Email Sent Date</th>
                            </tr>
                        </thead>
                    </table>
                    </div>
                </div>
            </div>
         </div>        
    </section>	                
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dhiadmin/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript">
        
        $(document).ready(function () {
          
            dTable = $('#emailCampaignTable').dataTable({
               
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ Records",
                    "sZeroRecords": "<center>No Record Found!</center>",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ Records",
                    "sInfoEmpty": "Showing 0 to 0 of 0 records",
                    "sInfoFiltered": "(filtered from _MAX_ total records)"
                },
                responsive: true,
                bJQueryUI: false,
                bProcessing: true,
                bServerSide: true,
                bFilter: true,
                //multipleSelection: true,
                iDisplayLength: {{ record_per_page }},
                sAjaxSource: "{{ path('dhi_admin_email_campaign_history_json', {'campaignId': campaignId}) }}",
                "fnServerData": function ( sUrl, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "url":  sUrl,
                        "data": aoData,
                        "success": function (json) {
                            if ( json.sError ) {
                                oSettings.oApi._fnLog( oSettings, 0, json.sError );
                            }
                            $(oSettings.oInstance).trigger('xhr', [oSettings, json]);
                            fnCallback( json );
                        },
                        "dataType": "json",
                        "cache": false,
                        "type": oSettings.sServerMethod,
                        "error": function (xhr, error, thrown) {
                            if ( error == "parsererror" ) {
                                window.location = "{{ path('dhi_admin_email_campaign_list') }}";
                            }
                        }
                    } );
		},
                aoColumns: [
                    {"sName": "EmailId","bSearchable": false,"bSortable": true,},
                    {"sName": "EmailType", "bSearchable": false, "bSortable": true},
                    {"sName": "ServiceLocation", "bSearchable": true, "bSortable": true},
                    {"sName": "SentAt", "bSearchable": true, "bSortable": true}
                ],
                aaSorting: [[3, 'desc']]
            });
            $('#emailCampaignTable').dataTable().columnFilter({
                sRangeFormat: "<label class='dateRange1'>From</label> {from} <label class='dateRange2'>To</label> {to}",
                aoColumns: [
                    null,
                    null,
                    {type: "select", sSelector: "#serviceLocation", values: {{ serviceLocations|json_encode|raw }}},
                    {type: "date-range", sSelector: "#date-range"}
                ]
            });

            $("input").addClass("form-control");
            $("select").addClass("form-control");

            $("#date-range .date_range_filter:first").change(function(event) {
                $("#date-range .date_range_filter:last").datepicker("option", "minDate", $(this).val());
            });
            $("#date-range .date_range_filter:last").change(function(event) {
                $("#date-range .date_range_filter:first").datepicker("option", "maxDate", $(this).val());
            });

        });
    </script>
    
{% endblock javascripts %}
